.main-section-container {
  width: 100%;
  height: 70vh; 
  background-image: url("../assets/udemy-main-section.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
  box-sizing: border-box;
}

.card {
  background: #ffffff;
  padding: 1.4rem 2.4rem;
  max-width: 380px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
}

.card h1 {
  font-size: 2.2rem;
  color: #1c1d1f;
  line-height: 2.2rem;
  font-weight: 700;
  margin: 0;
}

.card p {
  font-size: 1.15rem;
  color: #3c3b3b;
}

