/* Main container */
.nav-container {
  width: 100%;
  height: 72px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
  box-sizing: border-box;

  background-color: #fff;
  border-bottom: 1px solid #d1d7dc;
  position: relative;
}

/* Logo */
.logo {
  width: 92px;
  height: auto;
  cursor: pointer;
}

/* Navbar links */
.nav-link {
  margin: 0 12px;
  text-decoration: none;
  color: #2d2f31;
  font-size: 14px;
  font-weight: 500;
}

.nav-link:hover {
  color: #401b9c;
}

/* Search component container (from Searchbar.jsx) */
.search-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 18px;
}

.searchbar {
  width: 100%;
  height: 46px;
  border: 1px solid #2d2f31;
  border-radius: 999px;
  padding: 0 18px;
  font-size: 15px;
}

/* Icon buttons (cart + globe) */
.nav-icon {
  font-size: 22px;
  margin: 0 12px;
  cursor: pointer;
  color: #2d2f31;
}

.nav-icon:hover {
  color: #401b9c;
}

/* Auth Buttons */
.login-btn,
.signup-btn {
  border: 1px solid #892DE1;
  background: white;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.login-btn:hover {
  background: #f7f9fa;
}

.signup-btn {
  background: #892DE1;
  color: #fff;
  margin-left: 8px;
}

.signup-btn:hover {
  background: #892DE1;
}
