*{
  font-family: "Udemy Sans", "Vazirmatn", "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: none;
}

body, html{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

:root{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}